# Ambiente
NODE_ENV=development
WATCHPACK_POLLING=true

# Vercel
VERCEL=1
DEPLOY_TARGET=vercel

# WhatsApp API
INTERNAL_API_KEY=your_internal_api_key_here
WHATSAPP_ACCESS_TOKEN=your_token_here
WHATSAPP_PHONE_NUMBER_ID=your_phone_id_here

# Storage configured in Upstash
KV_REST_API_URL=your_storage_kv_rest_api_url
KV_REST_API_TOKEN=your_storage_kv_rest_api_token

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
